.hero {
    width: 100%;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
}

.hero__inner {
    position: relative;
    padding-top: 33%;
    background: transparent;
    margin-bottom: 20%;
}

.hero__inner::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #0c0f16;
    animation: intro 1s forwards;
}

.hero__image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero__image img {
    width: 100%;
    position: relative;
}

.hero__image--sun {
    animation: sunrise 1.5s forwards;
}

.hero__image--sparkle {
    animation: sparkle 6s infinite;
}

@keyframes pulse {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 280% 280%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes sparkle {
    0%,
    30%,
    90%,
    100% {
        opacity: 0;
        clip-path: polygon(54.2% 42%, 54.2% 42%, 54.2% 42%, 54.2% 42%);
    }
    40%,
    80% {
        opacity: 0.9;
        clip-path: polygon(50% 35%, 60% 35%, 60% 50%, 50% 50%);
    }
    50% {
        opacity: 1;
        clip-path: polygon(50% 35%, 60% 35%, 60% 50%, 50% 50%);
    }
}

@keyframes intro {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sunrise {
    0% {
        transform: translateY(100%) scale(1.1);
    }
    80% {
        transform: translateY(-1%) scale(1.1);
    }
    100% {
        transform: translateY(0) scale(1.1);
    }
}